extends layout

block content
  h1= title
  p Username you selected is #{uname}
  p Password you selected is #{pass}
  p Your sign up was successful
  p= msg
  p
    a(href="/random") Regular flow link
