html{
  font-size: 16px;
}
body {
  padding: 3em;
  padding: 3rem;
  font: 1em/2em "Lucida Grande", Helvetica, Arial, sans-serif;
  font: 1rem/2rem "Lucida Grande", Helvetica, Arial, sans-serif;
  color: black;
  background: #F2F2F2;
}

a {
  color: #00B7FF;
}

label{
  display: block;
}

.smallBox{
  width: 50%;
  margin:  auto;
  border: solid 1px #CCC;
  box-shadow: 0 0 3px 3px rgba(200,200,200,0.8);
  text-align: center;
  background: white;
  padding: 0.75em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

input[type=submit], input[type=button]{
  width: 15em;
  height: 2.5em;
  width: 15rem;
  height: 2.5rem;
  background: dodgerblue;
  color: ghostwhite;
  font-size: 1.5em;
  border: solid 1px floralwhite;
}
